body {
    background-color: #222222;
    color: white;
}

.absent {
    color: grey;
}

.present {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

.navigation {
    display: flex;
}

.navigation-item {
    padding-right: 50px;
    list-style-type: none;
}

.remove-buttons {
    display: inline-grid;
}

.fakeLink {
    text-decoration: underline;
    cursor: pointer;
}
